.projetos-portfolio{
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
    margin-top: 10%;
    padding-bottom: 8%;
}

.projeto{
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    border: #444 solid 3px;
    box-shadow: 0.8rem 0.8rem 2rem -0.3rem rgba(0,0,0,0.35);
}

.projeto img{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}